.element__content-button-like {
    width: 22px;
    height: 22px;
    transition: opacity .3s linear;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}


.element__content-button-like:hover {
    opacity: .5;
    transition: .3s linear;
}