.element {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(206px, min-content));
    gap: 17px 20px;
    margin-top: 51px;
}

@media screen and (max-width:650px) {
    .element {
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width:320px) {
    .element {
        margin-top: 39px;
        grid-template-columns:repeat(1, 1fr);
    }
}