.profile__info-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:320px) {
    .profile__info-description {
        font-size: 14px;
        line-height: 17px;
    }
}