.profile__info-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

