@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font-Inter.css);

/*body*/

.body {
    max-width: 1280px;
    min-width: 300px;
    margin: 0 auto 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #000000;
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

/*header*/
.header {
    width: 69%;
    margin: auto;
    border-bottom: solid 1px #545454;
}

.header__logo {
    Width: 142px;
    Height: 33px;
    margin: 45px 0 41px;
}

/*main*/
.main {
    width: 69%;
    margin: auto;
}

/*profile*/
.profile {
    width: 100%;
    margin: 40px auto 0;
    display: flex;
}

.profile__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.profile__avatar {
    width: 127.5px;
    height: 127.5px;
    border-radius: 50%;
}

.profile__content {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
}

.profile__info {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile__info-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 16px;
}

.profile__info-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.profile__info-button {
    background-color: #000000;
    width: 27px;
    height: 27px;
    padding: 0;
    margin-left: 18px;

}

.profile__info-button-picture {
    width: 24px;
    height: 24px;

}

.profile__info-picture-cross {
    width: 150px;
    height: 50px;
}

/*element*/
.element {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(206px, min-content));
    gap: 17px 20px;
    margin-top: 51px;
}

.element__card {
    max-width: 282px;
    min-height: 261px;
    background-color: white;
    border-radius: 4%;
    overflow: hidden;
}

.element__picture {
    max-width: 282px;
    mix-blend-mode: multiply;
}

.element__content {
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 25px 21px 31px;
}

.element__content-title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.element__content-dutton-like {
    padding: 0;
    width: 22px;
    height: 22px;
    background-color: white;
    border: aliceblue;
}

.element__content-dutton-like-picture {
    width: 22px;
    height: 22px;
}


/*footer*/
.footer {
    width: 69%;
    margin: 66px auto 60px;
}

.footer__signature {
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}